@import '../../variables.scss';

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstColumn {
  margin-left: -2rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 6px $primary-color;
  box-shadow: 2px 2px 4px 0 $black;
  border-radius: 1rem;
  margin: 5rem -2rem 0 0;
  width: 9rem;
  height: 9rem;
  transform: rotate(45deg);
  cursor: pointer;
}

.card:focus,
.card:hover {
  box-shadow: none;
  border: solid 6px $green;
  outline: none;
}

.img {
  max-width: 80%;
  max-height: 80%;
  transform: rotate(-45deg);
}