.animeLeft {
    opacity: 0;
    transform: translateX(-20px);
    animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: initial;
    }
}

.tourImg-enter {
    opacity: 0;
    transform: translateX(200px);
    animation: slideIn 0.3s forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tourImg-exit {
    display: none;
}
  
@keyframes slideIn {
    to {
        opacity: 1;
        transform: initial;
    }
}