@import './variables.scss';

@font-face {
  font-family: 'source sans pro';
  src: url('./Static/Fonts/SourceSansPro-Regular.ttf') format('truetype'),
}

body {
  background-color: $background-color;
  color: $white;
  font-family: "source sans pro", Arial, Helvetica, sans-serif;
}