// Colors Palette
$background-color: #1a1a1a;
$primary-color: #662233;
$secondary-color: #990044;

$white: #f1f1f1;
$green: #11bb66;
$gray: #4e4e55;
$black: #000000;

// Screen Sizes
$sm-screen: 480px;
$md-screen: 900px;